<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695484216929-d20i930gjscigjk5st9pjpb820sr8j2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695484216929-d20i930gjscigjk5st9pjpb820sr8j2u</string>
	<key>API_KEY</key>
	<string>AIzaSyD9ddqoiWoxr8b8fQepnliUYjgT6oEibeg</string>
	<key>GCM_SENDER_ID</key>
	<string>695484216929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acatlan.Enfischido</string>
	<key>PROJECT_ID</key>
	<string>enfischido</string>
	<key>STORAGE_BUCKET</key>
	<string>enfischido.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695484216929:ios:62fa54621465346ca49c20</string>
</dict>
</plist>